/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 :root {
    font-size: 16px;
}
.col-margins{
    margin: 7.5px auto;
}
.post-edit-link{
    display: none;
}
@media screen and (min-width:567px){
    .container {
        max-width: 540px !important;
    }
}
@media screen and (min-width:768px){
    .container {
        max-width: 750px !important;
    }
}
@media screen and (min-width:992px){
    .container {
        max-width: 970px !important;
    }
}
@media screen and (min-width:1200px){
    .container {
        max-width: 1170px !important;
    }
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none !important;
    background-color: #f5f5f5 !important;
    border-radius: 4px !important;
}
.custom_btn{
    padding: 5px 10px;
    background-color: #f7941d;
    color: #ffffff;
}
.text-align-center{
    text-align: center;
}
input[name=user_profile]{
    display: inline-block;
}
.form-control{
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-size: 15px; */
}